#root {
  background: #000;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: #fff;
}

.movie-app {
  width: 90vw;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--bs-gray-dark);
  border: 2px solid var(--bs-gray-dark);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::selection {
  background-color: var(--bs-gray-dark);
  color: var(--bs-gray-dark);
}