.mediaDetails {
  text-align: center;
  padding: 1rem;
}

.certification {
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 0px 0.4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.listRow {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  padding: 1rem 0;
  gap: 1rem;
  color: #000;
  justify-content: flex-start;
  align-items: stretch;
}

.figureImg {
  border-radius: var(--bs-border-radius);
}

.fluidMedia {
  position: relative;
  padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 */
  height: 0;
  overflow: hidden;

  > div {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--bs-border-radius);
  }
}

.listRowContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  padding: 1rem 0;
  gap: 0.5rem;
}

.card {
  width: 24rem;
  height: 14rem;
  cursor: pointer;
  background-color: #000 !important;
  border-radius: var(--bs-card-inner-border-radius) !important;
  border-color: transparent!important;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;

  // &:hover {
    background-color: #000 !important;
    border-radius: var(--bs-card-inner-border-radius) !important;
    border-color: transparent!important;
    -webkit-box-shadow: 0 0 1rem rgb(0 0 0 / 60%), 0 4px 4px rgb(0 0 0 / 50%);
    box-shadow: 0 0 1rem rgb(0 0 0 / 60%), 0 4px 4px rgb(0 0 0 / 50%);
    z-index: 5;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;

    .imgOverlay {
      visibility: visible;
    }
  // }
}

.cardImg {
  object-fit: cover;
  width: 24rem;
  height: 14rem;
}

.imgOverlay {
  visibility: hidden;
  display: flex;
  align-items: end;
  word-break: break-word;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  border-radius: 0px !important;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  &:hover {
    visibility: visible;
  }
}

.cardBody {
  position: relative;
  background: #000;
  border-radius: var(--bs-card-inner-border-radius) !important;
}
